.ambprog_form label { display: block; float: left; width: 130px; }
.ambprog_form input[type="text"], .ambprog_form input[type="password"],
.ambprog_form input[type="email"], .ambprog_form input[type="textarea"] {
    padding: 4px 8px;
    background: #f0f0f0;
    border: 1px solid #ccc;
}
.ambprog_form input[type="text"]:focus, .ambprog_form input[type="password"]:focus,
.ambprog_form input[type="email"]:focus, .ambprog_form input[type="textarea"]:focus {
    border-color: #aaa;
}
 
.ambprog_errors { padding: 8px; border: 1px solid #f50; margin: 0 0 15px; }